<html>
<head>
    <title>ShapeEditor</title>
</head>
    <style>
        body{
            background-color:gray;
        }
        .content {
            max-width: 500px;
             margin: auto;
        }
        table,td 
        {
        border: 3px solid purple;
        border-collapse: collapse;
        background-color: white;

        };
    </style>
<body>
    <div class="content">
        <h1>ShapeEditor</h1>
        {% if shapefiles %}
        <b>Available Shapefiles:</b>
        <table >
        {% for file in shapefiles %}
            <tr>
                <td><font style="font-family:monospace">{{ file}}</font></td>
               

            </tr>
            {% endfor %}
    
        </table>

        <a href="/edit/{{ shapefile.id }}">Edit</a>
 </td>
 <td>&nbsp;</td>
 <td>
 <a href="/export/{{ shapefile.id }}">Export</a>
 </td>
 <td>&nbsp;</td>
 <td>
 <a href="/delete/{{ shapefile.id }}">Delete</a>
        {% endif %}
        <button type="button" onClick='window.location="/import";'>
     Import New Shapefile
        </button>
    </div>
</body>
</html>